$bg-color: #c79a70;
$main-text-color: #d35731;
$table-color: #2cd8ca;
$table-header-text-color: #5fcf97;
$table-text-color: #ffffff;
$table-header-bg-color: #dd3838d8;
$table-td-bg-color: #1d998fd0;
$counter-color: #000000cc;
$hover-color: #e93737b9;
